html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'sofia pro';
  src: url("../fonts/Sofia Pro Bold.otf") format("truetype"), url("../fonts/Sofia Pro Bold Italic.otf") format("truetype"), url("../fonts/Sofia Pro Light.otf") format("truetype"), url("../fonts/Sofia Pro Medium.otf") format("truetype"), url("../fonts/Sofia Pro Regular.otf") format("truetype"), url("../fonts/Sofia Pro Semi Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

ul li {
  font-family: 'sofia pro regular', 'arial';
  margin-bottom: 1em;
  line-height: 1.2em;
}

body {
  margin-top: 2em;
  background-image: url(../images/bg.jpg);
  background-position: center;
  padding-left: 1em;
  padding-right: 1em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.suppr,
.edit,
.modif {
  color: white;
  font-family: 'sofia pro regular', 'arial';
  border-radius: 5px;
  padding: 0.6em;
  margin-right: 1em;
  border: solid 2px #ffff00;
  background: none;
  height: 38px;
  cursor: pointer;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  max-width: 100px;
}

.suppr:hover,
.edit:hover,
.modif:hover {
  color: #ffff00;
  border-color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 100%;
  padding: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 100;
}

header .logo {
  position: relative;
  top: -32px;
}

header .avatar {
  position: relative;
  width: 100%;
  max-width: 65px;
  top: -48px;
  right: 45px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

header .avatar:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

header .topright {
  padding: 1em;
}

nav {
  height: calc(100vh + 10px);
  margin: auto 0;
  padding-top: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% + 10px);
  position: fixed;
  z-index: 100;
  top: -10px;
  left: -10px;
  background-image: url(../images/menu-bg.jpg);
  display: none;
  line-height: 0em;
  opacity: 0.95;
}

nav li {
  margin: auto;
  list-style-type: none;
  font-family: 'sofia pro', 'arial';
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  font-style: italic;
  line-height: 2em;
  position: relative;
  z-index: 1000;
  color: #ffff00;
  width: 50%;
  margin: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: 0;
}

nav li::after {
  content: '';
  width: 0px;
  position: absolute;
  left: 30%;
  display: block;
  border-top: solid 3px white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav li:hover::after {
  width: 300px;
}

nav a {
  text-decoration: none;
}

#resultat {
  background-color: #ffff00;
  color: white;
  position: absolute;
  z-index: 20000;
}

h1 {
  font-size: 3em;
  color: #252525;
  font-family: 'sofia pro', 'arial';
  margin-bottom: 0.3em;
}

h2 {
  font-size: 1.7em;
  color: #b2b2b2;
  font-family: 'sofia pro bold', 'arial';
  font-weight: bold;
  margin-bottom: 0.8em;
}

h3 {
  font-size: 1.2em;
  color: #f1f1f1;
  font-family: 'sofia pro medium', 'arial';
}

#commande h2.carac {
  text-align: center;
  color: #252525;
  font-family: 'sofia pro', 'arial';
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: solid 4px #ffff00;
  margin: auto;
  max-width: 500px;
  padding-bottom: 0.7em;
  margin-bottom: 2em;
}

#commande .flexdetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 2em;
}

#commande .flexdetails .icondesc ul {
  padding: 0 2em;
}

#commande .flexdetails .icondesc ul img {
  position: relative;
  left: 200px;
  margin: 0;
}

#commande .flexdetails .icondesc ul li {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0em 1em;
}

#commande .flexdetails .icondesc ul li:first-of-type {
  margin-bottom: 3em;
}

#commande .flexdetails img {
  width: 64px;
  margin-bottom: 2em;
}

#commande .flexdetails .caracteristiques {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1em;
}

#commande .flexdetails .caracteristiques .title {
  font-weight: bold;
  padding-right: 2em;
}

#commande .flexdetails .caracteristiques .valeur {
  padding-left: 3em;
  border-left: solid 2px #f1f1f1;
  border-radius: 5%;
  font-family: 'sofia pro light', 'arial';
  color: lightgrey;
}

#commande .suppr, #commande .edit, #commande .modif {
  color: white;
  background-color: black;
  border: none;
}

#commande .suppr:hover, #commande .edit:hover, #commande .modif:hover {
  color: black;
  background-color: #f1f1f1;
}

#commande .commentaires {
  padding: 2em 5em;
}

#commande .modifier {
  display: none;
}

#commande .formOr {
  position: relative;
}

#commande .formOr:before {
  content: url(../images/user-avatar.png);
  width: 100%;
  position: absolute;
  left: 5px;
  top: -5px;
  z-index: 0;
}

#commande .formOr .submitOr {
  border: none;
  color: black;
  background: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#commande .formOr .submitOr:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#commande .formOr textarea#commentaireOr {
  color: black;
  background-color: white;
  border: none;
  width: 80%;
  min-height: 70px;
  border-bottom: solid 1px #b2b2b2;
  position: relative;
  z-index: 1;
}

#commande .commentcom {
  margin-top: 2em;
}

#commande .commentcom div {
  margin-top: -1em;
}

#commande .commentcom div:before {
  content: url(../images/user-avatar.png);
  width: 100%;
  position: relative;
  left: -80px;
  bottom: -62px;
}

#commande .commentcom p {
  padding: 1.5em 0;
  color: black;
  font-family: 'sofia pro regular', 'arial';
}

#commande span {
  font-family: 'sofia pro light', 'arial';
  color: #808080;
}

.connexion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  margin: auto;
  padding: 1em;
  background-color: #333333;
  opacity: 0.95;
  visibility: hidden;
  z-index: 100;
  font-family: 'sofia pro medium', 'arial';
}

.connexion h3 {
  font-family: 'sofia pro', 'arial';
  font-weight: bold;
  text-align: center;
  color: #ffff00;
  font-size: 3em;
  font-style: italic;
  line-height: 2em;
  text-transform: uppercase;
}

.connexion .formconnexion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
  padding: 2em;
  min-width: 300px;
  min-height: 350px;
  border-radius: 10px;
  background-color: #1a1a1a;
}

.connexion .formconnexion .linksp {
  margin: 0.3em 0;
  text-align: center;
  font-size: 0.9em;
}

.connexion .formconnexion .linksp a {
  text-decoration: none;
  -webkit-transition: all ease 200ms;
  transition: all ease 200ms;
  color: white;
}

.connexion .formconnexion .linksp a:hover {
  color: #ffff00;
}

.connexion .formconnexion .close {
  position: absolute;
  cursor: pointer;
  top: -15px;
  right: -15px;
  width: 10%;
}

.connexion .formconnexion .connexion-button {
  width: 100%;
  cursor: pointer;
  padding: 1em 2em;
  background-color: black;
  font-size: 1.1em;
  color: #ffff00;
  font-family: 'sofia pro', 'arial';
  font-weight: bold;
  text-align: center;
  border: none;
  margin: 1em 0;
  -webkit-transition: ease 400ms all;
  transition: ease 400ms all;
}

.connexion .formconnexion .connexion-button:hover {
  color: #252525;
  background-color: #ffff00;
}

.connexion .formconnexion #mdp,
.connexion .formconnexion #login {
  background-color: #1a1a1a;
  color: #fafafa;
  border: solid 3px #ffff00;
  width: 100%;
  padding: 1em 0.5em;
  margin: 1em 0;
  font-family: 'sofia pro', 'arial';
  font-weight: bold;
}

.connexion .connected {
  font-size: 1.1em;
  color: #ffff00;
  font-family: 'sofia pro', 'arial';
  font-weight: bold;
  text-align: center;
  margin: 1em;
  padding: 1em;
}

.hello {
  display: block;
  text-align: center;
  font-size: 0.9em;
  text-decoration: none;
  color: #808080;
  font-family: 'sofia pro regular', 'arial';
  font-weight: bold;
  position: relative;
  top: -44px;
  right: 50px;
}

.flexcolumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product {
  margin-top: 2em;
}

.descriptif {
  width: 40%;
  margin-left: 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.descriptif p {
  font-size: 0.9em;
  line-height: 1.4em;
  margin-bottom: 0.8em;
  color: black;
  font-family: 'sofia pro regular', 'arial';
  margin-left: 0;
  padding-left: 0;
}

.descriptif p span {
  font-weight: bold;
}

.descriptif .button {
  display: block;
  font-family: 'sofia pro regular', 'arial';
  font-size: 1.4em;
  border-top: solid #252525 3px;
  border-bottom: solid #252525 3px;
  text-decoration: none;
  width: 200px;
  padding: 0.5em;
  text-align: center;
  margin: 1em;
  margin-left: 0;
  color: #b2b2b2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.descriptif .button:hover {
  background-color: #252525;
  color: yellow;
}

.boutonconnect {
  width: 100%;
  cursor: pointer;
  padding: 1em 2em;
  background-color: black;
  font-size: 1.1em;
  color: #ffff00;
  font-family: 'sofia pro', 'arial';
  font-weight: bold;
  text-align: center;
  border: none;
  margin: 1em 0;
  -webkit-transition: ease 400ms all;
  transition: ease 400ms all;
  text-decoration: none;
}

.boutonconnect:hover {
  color: #252525;
  background-color: #ffff00;
}

.raquette {
  width: 65%;
  position: relative;
}

.raquette .raquette-img {
  width: 100%;
  -webkit-transform: rotateZ(-15deg);
          transform: rotateZ(-15deg);
  overflow: hidden;
  position: relative;
  left: -150px;
  -webkit-animation: levitation 3s ease-in infinite alternate;
          animation: levitation 3s ease-in infinite alternate;
}

.raquette .number {
  font-size: 15em;
  width: 220px;
  position: absolute;
  right: 0.5em;
  top: 1em;
  font-family: 'sofia pro', 'arial';
  font-weight: bold;
  color: #252525;
  border-top: solid #252525 1px;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 1310px;
  -webkit-box-shadow: -19px 17px 40px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -19px 17px 40px 0px rgba(0, 0, 0, 0.75);
  background-color: #1a1a1a;
  border-radius: 30px;
  width: 80%;
  margin: auto;
  margin-top: 12em;
}

.stats .leftside {
  width: 15%;
  padding: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stats .leftside li {
  color: #808080;
  font-family: 'sofia pro', 'arial';
  line-height: 3em;
}

.data {
  width: 85%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2em;
}

.data .heartbeat {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #333333;
  border-radius: 20px;
  padding: 1em;
  margin: 1em 0em;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.data .heartbeat:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 20px 2px #dedede;
          box-shadow: 0px 0px 20px 2px #dedede;
}

.graphs,
.interaction {
  width: 100%;
  padding: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.graphs h3,
.interaction h3 {
  margin-bottom: 1.5em;
  text-align: center;
}

.ball {
  display: block;
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 0px 0px 15px 1px #dedede;
          box-shadow: 0px 0px 15px 1px #dedede;
  border-radius: 50%;
  background-color: #ffff00;
  position: relative;
  top: 140px;
  right: 83%;
  z-index: 500;
  -webkit-animation: tennis 5s infinite ease-in-out;
          animation: tennis 5s infinite ease-in-out;
}

@-webkit-keyframes tennis {
  0% {
    top: 140px;
    right: 83%;
  }
  25% {
    top: 265px;
    right: 18%;
  }
  50% {
    right: 80%;
  }
  75% {
    top: 150px;
    right: 40%;
  }
  100% {
    top: 140px;
    right: 83%;
  }
}

@keyframes tennis {
  0% {
    top: 140px;
    right: 83%;
  }
  25% {
    top: 265px;
    right: 18%;
  }
  50% {
    right: 80%;
  }
  75% {
    top: 150px;
    right: 40%;
  }
  100% {
    top: 140px;
    right: 83%;
  }
}

img {
  width: 100%;
}

.graph {
  background-color: #333333;
  border-radius: 20px;
  padding: 1em;
  margin: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.graph:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 20px 2px #dedede;
          box-shadow: 0px 0px 20px 2px #dedede;
}

.graph img.court {
  margin: auto;
  width: 80%;
}

@-webkit-keyframes levitation {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@keyframes levitation {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

.wrapper-menu {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 20000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: -webkit-transform 330ms ease-out;
  transition: -webkit-transform 330ms ease-out;
  transition: transform 330ms ease-out;
  transition: transform 330ms ease-out, -webkit-transform 330ms ease-out;
}

.wrapper-menu.open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.line-menu {
  background-color: #ffff00;
  border-radius: 5px;
  width: 100%;
  height: 6px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.open .line-menu.start {
  -webkit-transform: rotate(-90deg) translateX(3px);
          transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.open .line-menu.end {
  -webkit-transform: rotate(-90deg) translateX(-3px);
          transform: rotate(-90deg) translateX(-3px);
}

#equipe {
  background-image: none;
  background-color: white;
  overflow-x: hidden;
}

#equipe h1 {
  position: absolute;
  top: 15%;
  left: 4%;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  margin-top: -180px;
  top: 0;
  right: 0;
}

.member {
  position: relative;
  top: 180px;
  margin: auto;
  min-height: 100vh;
  padding: 13% 2em 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 34%;
}

.member div.img img {
  margin-left: 3em;
}

.member img {
  max-width: 65%;
  margin: 1em auto;
}

.member h2 {
  margin: 0;
  padding: 0.5em;
  font-family: 'sofia pro light', 'arial';
  font-size: 1.2em;
}

.member p {
  font-family: 'sofia pro regular', 'arial';
  font-size: 0.8em;
  line-height: 1.4em;
  text-align: justify;
}

.member1 img,
.member2 img,
.member3 img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.member1 img:hover,
.member2 img:hover,
.member3 img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.member2 {
  background-color: #f5f5f5;
}

.member3 {
  background-color: #1a1a1a;
}

.member3 p {
  color: white;
}

#commande {
  background-image: url("../images/bg-commande.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 50%;
}

.produit,
.setsize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.raquette-produit {
  width: 50%;
  padding: 1em;
  margin-top: 6em;
}

.raquette-produit .number {
  font-size: 15em;
  width: 220px;
  position: absolute;
  z-index: 1;
  left: -10%;
  top: -55%;
  font-family: 'sofia pro', 'arial';
  font-weight: bold;
  color: #fafafa;
  border-top: solid #fafafa 1px;
}

.raquette-produit .raq1 {
  -webkit-transform: rotateY(180deg) rotateZ(-45deg) scale(0.9);
          transform: rotateY(180deg) rotateZ(-45deg) scale(0.9);
  position: relative;
  z-index: 10;
  top: -110px;
}

.raquette-produit .raq2 {
  display: none;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  position: relative;
  top: -110px;
  z-index: 10;
}

.raquette-produit .raq3,
.raquette-produit .raq4,
.raquette-produit .raq5 {
  display: none;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  position: relative;
  top: -110px;
  z-index: 10;
}

.raquette-produit .vignettes {
  position: relative;
  top: -200px;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.raquette-produit .vignettes .vignette {
  width: 100px;
  max-width: 100%;
  margin: 1em;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.raquette-produit .vignettes .vignette:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.apps {
  position: relative;
  top: 150px;
}

.apps .boutonsapp {
  margin: auto;
  width: 400px;
  text-align: center;
}

.apps h3.appli {
  display: block;
  margin: auto;
  text-align: center;
  color: #252525;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em;
  background-color: white;
  border-radius: 50px;
  max-width: 300px;
}

.apps img {
  margin-top: 1em;
  width: 40%;
  height: 40%;
}

.desc-produit {
  width: 50%;
  margin: 1em 2em;
  padding: 1em 2em;
}

.desc-produit p {
  font-family: 'sofia pro regular', 'arial';
  font-size: 0.8em;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  color: black;
  text-align: justify;
}

.desc-produit .price {
  font-family: 'sofia pro', 'arial';
  font-size: 1.3em;
  font-weight: bold;
  padding: 1em 1em 1em 0em;
}

.desc-produit .taille {
  font-family: 'sofia pro', 'arial';
  font-size: 1.3em;
  font-weight: bold;
  margin: 1em 1em 1em 0em;
}

.desc-produit select {
  border-radius: 50px;
  width: 64px;
  padding: 1em;
  margin: 0.7em 0 0 1em;
}

.desc-produit .button {
  display: block;
  margin: 1em auto;
  width: 200%;
  color: white;
  text-align: center;
  font-family: 'sofia pro', 'arial';
  font-size: 1.3em;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
  background-color: #1a1a1a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.desc-produit .button:hover {
  color: #ffff00;
}

body#loader {
  background: none;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
}

.centervid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

video {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loaderbutton {
  display: block;
  opacity: 0;
  text-align: center;
  font-family: 'sofia pro regular', 'arial';
  font-size: 1.4em;
  background-color: #252525;
  color: yellow;
  text-decoration: none;
  margin: auto;
  position: relative;
  bottom: 90px;
  width: 200px;
  padding: 1.2em;
  border-radius: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: solid 1px white;
  -webkit-animation: appear 2s linear forwards;
          animation: appear 2s linear forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.loaderbutton:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 50px;
}

body#livre {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000000), color-stop(#0e0e0e), color-stop(#181818), color-stop(#202020), to(#282828));
  background-image: linear-gradient(to right bottom, #000000, #0e0e0e, #181818, #202020, #282828);
  min-height: 100vh;
}

body#livre h1 {
  font-family: 'sofia pro', 'arial';
  font-weight: bold;
  text-align: center;
  color: #ffff00;
  font-size: 3em;
  font-style: italic;
  line-height: 2em;
  text-transform: uppercase;
}

body#livre .retour {
  color: #ffff00;
  font-size: 1.3em;
}

body#livre .modifier {
  display: none;
}

body#livre .modifier .editcom {
  background-color: white;
  color: black;
  border: solid 2px #f1f1f1;
}

.commenterOr {
  margin: 0 2em 2em 2em;
  width: 95%;
  padding: 2em;
  font-family: 'sofia pro', 'arial';
}

.commenterOr .formOr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.commenterOr #commentaireOr {
  width: 100%;
  border: solid 5px #ffff00;
  background-color: #333333;
  color: #808080;
  min-height: 275px;
  margin: auto;
  padding: 1em;
  font-family: 'sofia pro', 'arial';
  font-size: 1em;
}

.commenterOr .editcom {
  width: 100%;
  border: solid 5px #ffff00;
  background-color: #333333;
  color: #808080;
  margin: auto;
  padding: 1em;
  font-family: 'sofia pro', 'arial';
  font-size: 1em;
}

.commenterOr .submitOr {
  text-align: center;
  padding: 1em;
  width: 300px;
  margin: auto;
  cursor: pointer;
  margin-top: 1em;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1a1a1a;
  border: solid 3px #ffff00;
  color: white;
  font-family: 'sofia pro', 'arial';
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
}

#profil .divprofil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  font-family: 'sofia pro', 'arial';
}

#profil .divprofil h1 {
  color: #ffff00;
}

#profil .adresse {
  max-width: 300px;
}

#profil .profil {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000000), color-stop(#0e0e0e), color-stop(#181818), color-stop(#202020), to(#282828));
  background-image: linear-gradient(to right bottom, #000000, #0e0e0e, #181818, #202020, #282828);
  margin: 1em 2em;
  padding: 2em;
  border-radius: 20px;
}

#profil .infoprofil {
  padding: 1em 2em;
}

#profil .infoprofil p {
  font-family: 'sofia pro regular', 'arial';
  line-height: 1.2em;
  color: white;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

#profil .infoprofil p span {
  color: #ffff00;
}

#profil .editprofil {
  padding: 1em 2em;
}

#profil .commandeuniq p {
  margin-right: 2em;
}

#profil .commandeuniq p span {
  color: #ffff00;
}

#profil p.retour {
  color: #ffff00;
  text-align: center;
  font-size: 1.3em;
  line-height: 1.3em;
  padding-bottom: 0.5em;
}

.editlarge {
  color: white;
  font-family: 'sofia pro regular', 'arial';
  border-radius: 5px;
  padding: 0.6em;
  margin-right: 1em;
  border: solid 2px #ffff00;
  background: none;
  height: 38px;
  cursor: pointer;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  width: 230px;
}

.editlarge:hover {
  color: #ffff00;
  border-color: white;
}

.singlecomment {
  margin: 1em;
  margin-left: 4em;
  margin-top: -1em;
  padding: 1em;
  color: white;
  font-family: 'sofia pro light', 'arial';
}

.singlecomment div:before {
  content: url(../images/user-avatar.png);
  width: 100%;
  position: relative;
  left: -80px;
  bottom: -62px;
}

.singlecomment span {
  color: #ffff00;
  font-weight: bold;
}

.singlecomment p {
  margin: 1em 0;
}

body#admin {
  margin: 2em;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000000), color-stop(#0e0e0e), color-stop(#181818), color-stop(#202020), to(#282828));
  background-image: linear-gradient(to right bottom, #000000, #0e0e0e, #181818, #202020, #282828);
  width: 97%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'sofia pro', 'arial';
}

body#admin header .avatar {
  right: 33px;
}

body#admin p.hello {
  margin: 0;
}

body#admin .actif {
  background-color: #ffff00;
  color: black;
}

body#admin .centre {
  margin: auto;
}

body#admin .boutonsedit {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body#admin .boutonsedit input {
  padding: 0.3em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 100;
  width: 100%;
  max-width: 100px;
}

body#admin .boutonsedit p {
  padding-top: 0.6em;
  cursor: pointer;
  margin: 0;
  font-size: 1em;
  border: solid 1px #ffff00;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  max-width: 100px;
}

body#admin p {
  color: white;
  margin: 1em;
  padding: 0.5em;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body#admin p span {
  font-weight: bold;
  color: #ffff00;
}

body#admin .retour {
  color: #ffff00;
  font-size: 1.5em;
  font-weight: bold;
  margin: 2em auto;
  text-align: center;
}

body#admin .adm {
  margin: auto;
  max-width: 500px;
}

body#admin h1 {
  font-family: 'sofia pro', 'arial';
  font-weight: bold;
  text-align: center;
  color: #ffff00;
  font-size: 3em;
  font-style: italic;
  line-height: 2em;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}

body#admin h2 {
  display: block;
  text-align: center;
  margin: auto;
  color: #ffff00;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.6em;
  border: solid 3px white;
}

body#admin h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.5em;
  font-size: 1.6em;
}

body#admin .formajout {
  margin: 1em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

body#admin .formajout .ajout {
  text-align: center;
}

body#admin .formajout input {
  width: 50%;
  margin: auto;
  margin-bottom: 0.5em;
}

body#admin .profils {
  display: none;
}

body#admin input {
  background-color: #1a1a1a;
  color: #fafafa;
  border: solid 1px #ffff00;
  border-radius: 5px;
  padding: 1em 0.5em;
  margin: 1em 0;
  font-family: 'sofia pro', 'arial';
  font-weight: bold;
}

.commandes {
  margin-top: 3em;
}

.user,
.commandeuniq {
  color: white;
  font-family: 'sofia pro', 'arial';
}

.user .del,
.commandeuniq .del {
  margin: auto;
  cursor: pointer;
}

.user .buttons,
.commandeuniq .buttons {
  margin: auto;
  width: 30%;
}

.user .modifications,
.commandeuniq .modifications {
  display: none;
}

.user #modif,
.commandeuniq #modif {
  background-color: #1a1a1a;
  color: #fafafa;
  border: solid 1px #ffff00;
  border-radius: 5px;
  padding: 0;
  margin: auto;
  font-size: 0.9em;
  cursor: pointer;
  font-weight: bold;
}

.user #modif p,
.commandeuniq #modif p {
  padding: 0;
}

.formcommande {
  width: 70%;
  margin: auto;
  font-family: 'sofia pro', 'arial';
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000000), color-stop(#121212), color-stop(#1d1d1d), color-stop(#282828), to(#333333));
  background-image: linear-gradient(to right bottom, #000000, #121212, #1d1d1d, #282828, #333333);
  padding: 1em 4em;
  border-radius: 20px;
}

.formcommande h1 {
  color: #ffff00;
}

.formcommande .retour {
  color: #ffff00;
  text-align: center;
  font-size: 1.3em;
  line-height: 1.3em;
}

.formcommande p.consigne {
  font-family: 'sofia pro', 'arial';
  margin: 1em 0;
  color: white;
  font-size: 1.2em;
  font-weight: 100;
}

.formcommande p {
  font-weight: bold;
}

.formcommande p input {
  background-color: #1a1a1a;
  color: #fafafa;
  border: solid 3px #ffff00;
  width: 100%;
  padding: 1em 0.5em;
  margin: 0.3em 0;
  font-family: 'sofia pro', 'arial';
  font-weight: bold;
}

.formbutton {
  width: 100%;
  cursor: pointer;
  padding: 1em 2em;
  background-color: black;
  font-size: 1.1em;
  color: #ffff00;
  font-family: 'sofia pro', 'arial';
  font-weight: bold;
  text-align: center;
  border: none;
  margin: 1em 0;
  -webkit-transition: ease 400ms all;
  transition: ease 400ms all;
}

.formbutton:hover {
  color: #252525;
  background-color: #ffff00;
}

body#inscription.formcommande {
  width: 50%;
}

body#inscription.formcommande .boutonconnect {
  border: none;
}

body#inscription.formcommande p.retour {
  color: #ffff00;
  text-align: center;
  font-size: 1.3em;
  line-height: 1.3em;
}

.button-retour {
  text-decoration: none;
  text-align: center;
  display: block;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  color: white;
  padding: 1em 0 0 0;
}

.button-retour:hover {
  color: #ffff00;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

@media all and (max-width: 1200px) {
  .descriptif,
  .raquette {
    width: 90%;
    margin: 1em 2em;
  }
  .raquette {
    width: 90%;
  }
  .raquette .raquette-img {
    position: relative;
    left: -10px;
    top: -20px;
    -webkit-animation: levitation 3s ease-in infinite alternate;
            animation: levitation 3s ease-in infinite alternate;
  }
  .raquette .number {
    top: 245px;
    right: 10px;
  }
  #commande {
    overflow-x: hidden;
  }
  .produit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .produit .desc-produit {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 90%;
  }
  .produit .desc-produit .button {
    width: 100%;
  }
  .produit .raquette-produit {
    width: 90%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: auto;
  }
}

@media all and (max-width: 900px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .loaderbutton {
    bottom: -10px;
  }
  nav {
    padding-top: 20%;
  }
  #profil .divprofil {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body {
    background: none;
  }
  .stats {
    width: 100%;
    margin-top: 11em;
  }
  .graph {
    width: 90%;
  }
  .ball {
    display: none;
  }
  #commande .produit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #commande .produit .desc-produit {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 90%;
  }
  #commande .produit .desc-produit .button {
    width: 100%;
  }
  #commande .commentaires {
    padding: 2em 1em;
  }
  #commande .formOr:before {
    left: -25px;
    top: -5px;
    z-index: 0;
  }
  #commande .flexdetails, #commande .icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
  #commande .icondesc li {
    font-size: 0.8em;
  }
  .member img {
    max-width: 80%;
  }
  .member {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 0;
  }
  .member .descmembre {
    margin: auto;
  }
  .member div.img {
    width: 200%;
  }
  .member div.img img {
    margin-left: 0;
  }
  .member1 {
    margin-top: 7em;
  }
  .formcommande h1 {
    font-size: 1.9em;
  }
  .formcommande .consigne {
    font-size: 1em;
  }
}

@media all and (max-width: 800px) {
  #commande .flexdetails .icondesc ul li {
    padding: 1em 1em;
    font-size: 1em;
  }
}

@media all and (max-width: 700px) {
  .logo {
    width: 55%;
  }
  .raquette-produit .vignettes .vignette {
    width: 12%;
    height: 100%;
  }
  .desc-produit {
    margin-bottom: 3em;
  }
  h2.carac {
    position: relative;
    top: -60px;
  }
}
/*# sourceMappingURL=style.css.map */